<a class="ui-link @Class" style="@Style" href="@Href" target="@Target" rel="@Rel" @onclick="OnClick" @onclick:preventDefault="PreventDefault">@ChildContent</a>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Href { get; set; }
    [Parameter] public string? Target { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }

    private bool PreventDefault => OnClick.HasDelegate && string.IsNullOrEmpty(Href);
    private string? Rel => Target == "_blank" ? "noopener noreferrer" : null;
}
